.Tech {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 100%;
  margin: 10px;
  padding: 10px auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.Tech__progress {
  flex-wrap: 0.3;
  width: 15%;
  height: 15%;
  color: #02992a;
}
