@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,900&family=Roboto+Slab:wght@100;300;500;700&family=Roboto:wght@100;400;500;700;900&family=Schibsted+Grotesk:ital,wght@0,400;0,500;0,600;0,800;0,900;1,400;1,500;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


/* font-family: 'Dancing Script', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Schibsted Grotesk', sans-serif; */

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
    
}

div::-webkit-scrollbar{
    display: none;

}
video{
    max-width: none;
}
body {
    margin: 0px;
    padding: 0px;
    color: rgb(var(--foreground-rgb));
    position: relative;
    background: linear-gradient(to bottom,
            transparent,
            rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
            -ms-overflow-style: none;   
            scrollbar-width: none; 
    overflow: hidden;
    font-family: poppins;
}


.active{
    @apply border border-white  rounded-full
}
.char{
    transform: translateY(140px);
    transition: transform .5s ;
}

.experienceTimeline{
    stroke-dashoffset: 0%;
}