@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom,
            transparent,
            rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}


.text-dark {
    color: #092635
}

.text-dark-secondary {
    color: #1B4242
}


.text-light-secondary {
    color: #5C8374;
}

.text-light {
    color: #9EC8B9;
}

.bg-dark {
    background-color: #092635
}

.bg-dark-secondary {
    background-color: #1B4242
}


.bg-light-secondary {
    background-color: #5C8374;
}

.bg-light {
    background-color: #9EC8B9;
}
.bg-extraLight {
    background-color: #cee7de26;
}
.text-extraLight {
    color: #e4ebe8;
}

.container {
    padding: auto 100%;
}
.border-dark {
    border: 1px solid #092635
}

.border-dark-secondary {
    border: 1px solid #1B4242
}


.border-light-secondary {
    border: 1px solid #5C8374;
}

.border-light {
    border: 1px solid #9EC8B9;
}

.container {
    padding: auto 100%;
}


.projectContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(14rem, 100%), 1fr));
    grid-gap: 1rem;
}



.timeLinePoint {
    padding-bottom: 1.5rem;
    border-left: 2px solid #092635;
    position: relative;
    padding-left: 20px;
    margin-left: 10px;
  }
  
  .timeLinePoint:last-child {
    border: 0;
    padding-bottom: 0;
  }
  
  .timeLinePoint:before {
    content: '';
    width: 15px;
    height: 15px;
    background: #092635;
    border: 1px solid #092635;
    border-radius: 50%;
    position: absolute;
    left: -1.5%;
  }
  