.Home {
  color: #1a1b1c;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 25vh;
}
.Home__sectionOne {
  display: flex;

  align-items: flex-start;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  background-color: #ececeb;
  padding: 30px;
}

.Home__sectionOne > img {
  height: 200px;
  width: 200px;
  object-fit: fill;
  margin-right: 25px;
  border-radius: 10px;
  overflow: hidden;
  transition: all ease-in-out;
}

.Home__sectionOne > img:hover {
  transform: scale(1.02);
  border-bottom: 2px solid orange;
  border-right: 2px solid orange;
}

.Home__name {
  display: flex;
}

.Home__name > span {
  display: flex;
  margin-right: 10px;
}

.Home__name > span > h1 {
  color: #1a1b1c;
  transition: transform;
  margin-right: 2px;
  cursor: pointer;
}

.Home__name > span > h1:hover {
  transform: scale(1.2);
  color: #2e3031;
  border-bottom: 2px solid orange;
}

.Home__info {
  width: 60vh;
}
.Home__info > h5 {
  line-height: 2;
  font-weight: lighter;
  margin-top: 0;
  color: #1a1b1c;
  opacity: 0.9;
}

.Resume {
  display: flex;
}

.Resume a {
  padding: 10px 15px;
  background: #1a1b1c;
  border: 1px solid orange;
  color: #e5e4e3;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
  text-decoration: none;
  margin: auto;
}

.Resume a:hover {
  color: #1a1b1c;
  background: transparent;
}

@media (max-width: 780px) {
  .Home {
    margin: 10px;
    margin-top: 15vh;
    padding: 10px;
  }
  .Home__sectionOne {
    flex-direction: column;
    justify-content: center;
    max-width: 95%;
    padding: 20px 0;
    margin: 10px;
  }
  .Home__sectionOne > img {
    display: flex;
    justify-content: center;
    margin: auto;
  }
  .Home__name {
    flex: 1;
    justify-content: center;
    margin: auto;
  }
  .Home__info {
    width: 90%;
    text-align: center;
    margin: 20px auto;
  }
}
