@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap");

.App {
  background-color: #e5e4e3;
  height: 100vh;
  max-width: 100%;
  background: url("https://image.freepik.com/free-vector/white-abstract-background_23-2148810113.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif !important;
}

/* @media (max-width: 800px) {
  .App {
    width: 100vw;
  }
} */
